/**/

*{
  margin:0;
  padding:0;
}

html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body{
  font-family: 'Open Sans', serif;
  line-height: 1.8!important;
}

#content{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:20;
}

#header{
  position:absolute;
  width:100%;
  height:70px;
  top:20px;
  left:0;
  z-index:100;
}

#hbg{
  position:absolute;
  width:100%;
  height:70px;
  top:20px;
  left:0;
  z-index:90;
  background-color:#000000;
  opacity:.2;
}

#title{
  position:absolute;
  width:100%;
  height:100%;
  font-size:2.5em;
  left:30px;
  color:#fefefe;
  z-index:200;
}

#message{
  position:absolute;
  left:41px;
  top:170px;
  font-family: 'Open Sans', sans-serif;
  font-size:42px; 
}

.prom{
  color:#FF6A01;
}

#togit{
  position:absolute;
  bottom:20px;
  left:40px;
  color:#FF5100;
  text-decoration:none;
  font-size:32px;
}

#tg0{
  padding:20px;
  border: 1px solid orange;
  border-radius:5px;
  text-align:center;
}

.bg-black{
  background-color:#000000;
}

.bg-wgite{
  background-color:#fefefe;
}

.bgprop{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-repeat:no-repeat;
  background-size:cover;
}

#bg0{
  background-image: url("../img/bg0.jpg");
}

#bg1{
  background-image: url("../img/bg1.jpg");
}

#bg2{
  background-image: url("../img/bg2.jpg");
}

#bg3{
  background-image: url("../img/bg3.jpg");
}


.anim-fadein {
  /*borrowed code*/
    -webkit-animation: showNav 1s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav 1s ease forwards;
}

.anim-fadeout{}

.t100{
  top:-100%;
}
.t0{
  top:0;
}

.i0{
  z-index:10;
}
.i1{
  z-index:13;
}
.i2{
  z-index:16;
}
.i3{
  z-index:20;
}

@keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@-webkit-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
} 
@-moz-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
@-o-keyframes showNav {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

.colw{
  color:#fefefe;
}
