*{
  margin: 0;
  padding: 0;
}
html{

}

body{
  background: url('../img/bg1.jpg') no-repeat top left;
  color: snow ;
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
  /*color: brown ;*/
}

li{
  list-style: none;
}

.ishidden{
  display: none;
}

#nav-bar {
  position:fixed;
  right:2em ;
  top: 3em;
  background: ;
}

#nav-bar li{
  display: inline;
}

#nav-bar a{
  color: snow ;
  border: 1px solid orange;
  margin: 0;
  text-align: center;
  padding: 10px;
  width: 9em ;
  height: 10em ;
}

#nav-bar a:hover{
  background: blue;
}

#showNav{
  position:fixed;
  top:2.5em;
  right:10px;
  border:1px solid blue;
  border-radius: 8px;
  background: black ;
  color:white;
  text-align: center;
  padding-top: 20px;
  min-width:40px;
  min-height:50px;
}

.content{
  padding-left: 10px;
  padding-right: 10px;

}
.content h3{
  color: black;
}

.card{
  position: relative;
  z-index: 999 ;
  min-width:20em;
  min-height:20em;
  left:;
  top: 20% ;
  border: ;
  border-radius: 5px;
  background: snow;
  opacity: .9;
  text-align: center;

}

#home{
  position: absolute;
  z-index: 999 ;
  min-width:20em;
  min-height:20em;
  left:;
  top: 20% ;
  border: ;
  border-radius: 5px;
  background: snow;
  opacity: .9;
  text-align: center;
}
